name: Check Base
on:
  push:
    branches:
      - "**"
      - "!main"
  pull_request:
    branches:
      - main
    types: [opened, synchronize, closed]

jobs:
  build:
    if: github.event_name == 'pull_request' && contains(github.head_ref, 'my-feature-branch')
