name: Merge branches

on:
  pull_request:
    types: [closed]

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Merge branches
      run: |
        git merge --no-ff "${{ github.event.pull_request.head.ref }}" -m "Merge branch '${{ github.event.pull_request.head.ref }}' into master"
        git push

