
name: Block merge

on:
  pull_request:

jobs:
  block-merge:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Block merge
      if: github.event.pull_request.base.ref != 'master'
      run: |
        echo "Merging only allowed on master branch"
        exit 1


